body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 4rem;
  background: hsl(0, 0%, 98%);
}

header {
  text-align: center;
  margin-bottom: 3.1rem;
  max-width: 37rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  margin: 0;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin: 0;
}

header p {
  font-size: 1rem;
  color: hsl(229, 6%, 66%);
  padding: 1.1rem;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.container {
  background: hsl(0, 0%, 98%);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
}

h3 {
  margin: 20px 0 10px;
  font-size: 1.4rem;
  color: hsl(234, 12%, 34%);
}

p {
  color: hsl(229, 6%, 66%);
  line-height: 1.5;
}

.supervisor-card {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.teambuilder-card {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma-card {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator-card {
  border-top: 4px solid hsl(212, 86%, 64%);
}
